DATABASE_URL="mongodb://localhost:27017/messenger?authSource=admin"
NEXTAUTH_SECRET="your_nextauth_secret"

NEXT_PUBLIC_PUSHER_APP_KEY="your_pusher_key"
PUSHER_APP_ID="your_pusher_id"
PUSHER_SECRET="your_pusher_secret"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your_cloudinary_name"

GITHUB_ID="your_github_id"
GITHUB_SECRET="your_github_secret"

GOOGLE_CLIENT_ID="your_google_id"
GOOGLE_CLIENT_SECRET="your_google_secret"
