DATABASE_URL="mongodb+srv://user:password@cluster.mongodb.net/messenger?retryWrites=true&w=majority"
NEXTAUTH_SECRET="your_nextauth_secret"

NEXT_PUBLIC_PUSHER_APP_KEY="your_pusher_key"
NEXT_PUBLIC_PUSHER_CLUSTER="your_pusher_cluster"
PUSHER_APP_ID="your_pusher_id"
PUSHER_SECRET="your_pusher_secret"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your_cloudinary_name"

GITHUB_ID="your_github_id"
GITHUB_SECRET="your_github_secret"

GOOGLE_CLIENT_ID="your_google_id"
GOOGLE_CLIENT_SECRET="your_google_secret"
